<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.0.xsd">


	<!-- jms base configuration-->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory"/>
	</bean>
	
	<bean id="targetConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
<!--    	<property name="brokerURL" value="tcp://Qf-javadev-01:61616"/>      -->
   		<property name="brokerURL" value="${mq.url}"/>
   		<property name="userName" value="${mq.userName}"/>
   		<property name="password" value="${mq.password}"/>  
<!--  		<property name="brokerURL" value="tcp://qf-coreuat-01:61616"/>   -->
<!--    		<property name="brokerURL" value="tcp://qf-qcredit-01:61616"/> -->
	</bean>
	
	<bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
		<property name="targetConnectionFactory" ref="targetConnectionFactory"/>
	</bean>
	

  	<!-- 申请件,补件，答复申请件，答复补件的queue申明 -->
  	<bean id="applicationPen" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>APPLICATION_PEN</value>
		</constructor-arg>
	</bean>
	<!-- 普通-申请补件-发送 -->
  	<bean id="applicationNr" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>APPLICATION_NR</value>
		</constructor-arg>
	</bean>
	<!-- 普通-补件完成-监听 -->
  	<bean id="applicationNrDone" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>APPLICATION_NR_DONE</value>
		</constructor-arg>
	</bean>	
 	<!-- 消费贷-申请补件-发送 -->
  	<bean id="motoApplicationNr" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>MOTO_APPLICATION_NR</value>
		</constructor-arg>
	</bean>
	<!-- 消费贷-补件完成-监听 -->
	<bean id="motoApplicationNrDone" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>MOTO_APPLICATION_NR_DONE</value>
		</constructor-arg>
	</bean>
	<!-- 摩托车贷审批完成-发送 -->
	<bean id="motoApprovalDone" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>MOTO_APPROVAL_DONE</value>
		</constructor-arg>
	</bean>	
  	<bean id="anrApplicationPen" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>ANR_APPLICATION_PEN</value>
		</constructor-arg>
	</bean>
	<!-- 监听补件 -->
  	<bean id="anrApplicationNr" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>ANR_APPLICATION_NR</value>
		</constructor-arg>
	</bean>
	<!-- 房贷申请补件队列-发送 -->
  	<bean id="houseApplicationNr" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>HOUSE_APPLICATION_NR</value>
		</constructor-arg>
	</bean>
	<!-- 房贷补件完成队列-监听 -->
	<bean id="houseApplicationNrDone" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>HOUSE_APPLICATION_NR_DONE</value>
		</constructor-arg>
	</bean>	
	 <bean id="desNotice" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>DES_NOTICE</value>
		</constructor-arg>
	</bean>
	 <bean id="desSubmit" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>DES_SUBMIT</value>
		</constructor-arg>
	</bean>
	 <bean id="desEntry" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>DES_ENTRY</value>
		</constructor-arg>
	</bean>
	
	<!-- 监听applicationPen并且答复anrApplicationPen -->
	<bean id="messageListenerAdapter" class="org.springframework.jms.listener.adapter.MessageListenerAdapter">
		<property name="delegate">
			<bean class="com.qf.qcredit.bkend.listener.AdapterMessageListener"/>
		</property>
<!-- 		<property name="defaultListenerMethod" value="receiveMessage"/> -->
		<property name="defaultResponseDestination" ref="anrApplicationPen"/>
	</bean>
	<bean id="messageListenerAdapterContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="connectionFactory"/>
		<property name="destination" ref="applicationPen"/>
		<property name="messageListener" ref="messageListenerAdapter"/><!-- 使用MessageListenerAdapter来作为消息监听器 -->
		<property name="transactionManager" ref="transactionManager"/> 
	</bean>

	<!-- motoApplicationNrDone-消费贷-补件完成-监听-->
 	<bean id="motoApplicationNrDoneMessageListener" 
 		class="com.qf.qcredit.bkend.listener.MotoNrDoneMessageListener"> 
 	</bean> 
 	<bean id="motoNrDoneJmsContainer" 
		class="org.springframework.jms.listener.DefaultMessageListenerContainer"> 
 		<property name="connectionFactory" ref="connectionFactory" /> 
		<property name="destination" ref="motoApplicationNrDone" /> 
		<property name="messageListener" ref="motoApplicationNrDoneMessageListener" /> 
	</bean>

	<!-- 监听applicationNrDone-普通补件完成 -->
 	<bean id="applicationNrDoneMessageListener" 
 		class="com.qf.qcredit.bkend.listener.NrDoneMessageListener"> 
 	</bean> 
 	<bean id="nrDoneJmsContainer" 
		class="org.springframework.jms.listener.DefaultMessageListenerContainer"> 
 		<property name="connectionFactory" ref="connectionFactory" /> 
		<property name="destination" ref="applicationNrDone" /> 
		<property name="messageListener" ref="applicationNrDoneMessageListener" /> 
	</bean>

	 
	 <!-- 监听anrApplicationNr -->
 	<bean id="consumerMessageListener" class="com.qf.qcredit.bkend.listener.ConsumerMessageListener"> 
 	</bean> 
 	<bean id="jmsContainer" 
		class="org.springframework.jms.listener.DefaultMessageListenerContainer"> 
 		<property name="connectionFactory" ref="connectionFactory" /> 
		<property name="destination" ref="anrApplicationNr" /> 
		<property name="messageListener" ref="consumerMessageListener" /> 
 	</bean>
 	


 	<!-- 车贷待补件-发送 -->
  	<bean id="carApplicationNr" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>CAR_APPLICATION_NR</value>
		</constructor-arg>
	</bean>
	<!-- 车贷补件完成-监听 -->
	<bean id="carApplicationNrDone" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>CAR_APPLICATION_NR_DONE</value>
		</constructor-arg>
	</bean>
	<!-- 车贷待评估 -->
  	<bean id="carToBeAssessed" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>CAR_TO_BE_ASSESSED</value>
		</constructor-arg>
	</bean>
	<!-- 车贷评估取消 -->
  	<bean id="carAssessCancelled" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>CAR_ASSESS_CANCELLED</value>
		</constructor-arg>
	</bean>
	<!-- 车贷评估完成 -->
	<bean id="carAssessDone" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>CAR_ASSESS_DONE</value>
		</constructor-arg>
	</bean>
	
	<!-- 监听carApplicationNr -->
 <!-- 	<bean id="carApplicationNrMessageListener" 
 		class="com.qf.qcredit.bkend.listener.CarNrMessageListener"> 
 	</bean> 
 	<bean id="nrJmsContainer" 
		class="org.springframework.jms.listener.DefaultMessageListenerContainer"> 
 		<property name="connectionFactory" ref="connectionFactory" /> 
		<property name="destination" ref="carApplicationNr" /> 
		<property name="messageListener" ref="carApplicationNrMessageListener" />  		
 	</bean> -->
 	
 	<!-- 监听carToBeAssessed -->
 	<!-- <bean id="carAssessMessageListener" 
 		class="com.qf.qcredit.bkend.listener.CarAssessMessageListener"> 
 	</bean> 
 	<bean id="assessJmsContainer" 
		class="org.springframework.jms.listener.DefaultMessageListenerContainer"> 
 		<property name="connectionFactory" ref="connectionFactory" /> 
		<property name="destination" ref="carToBeAssessed" /> 
		<property name="messageListener" ref="carAssessMessageListener" />  		
 	</bean> -->
	
	<!-- 监听carApplicationNrDone 车贷补件完成-监听 -->
 	<bean id="carApplicationNrDoneMessageListener" 
 		class="com.qf.qcredit.bkend.listener.CarNrDoneMessageListener"> 
 	</bean> 
 	<bean id="carNrDoneJmsContainer" 
		class="org.springframework.jms.listener.DefaultMessageListenerContainer"> 
 		<property name="connectionFactory" ref="connectionFactory" /> 
		<property name="destination" ref="carApplicationNrDone" /> 
		<property name="messageListener" ref="carApplicationNrDoneMessageListener" /> 
	</bean>
 	
 	<!-- 监听carAssessCancelled -->
 	<bean id="carAssessCancelledMessageListener" 
 		class="com.qf.qcredit.bkend.listener.CarAssessCancelledMessageListener"> 
 	</bean> 
 	<bean id="assessCancelledJmsContainer" 
		class="org.springframework.jms.listener.DefaultMessageListenerContainer"> 
 		<property name="connectionFactory" ref="connectionFactory" /> 
		<property name="destination" ref="carAssessCancelled" /> 
		<property name="messageListener" ref="carAssessCancelledMessageListener" /> 
	</bean>
 	
 	<!-- 监听carAssessDone -->
 	<bean id="carAssessDoneMessageListener" 
 		class="com.qf.qcredit.bkend.listener.CarAssessDoneMessageListener"> 
 	</bean> 
 	<bean id="assessDoneJmsContainer" 
		class="org.springframework.jms.listener.DefaultMessageListenerContainer"> 
 		<property name="connectionFactory" ref="connectionFactory" /> 
		<property name="destination" ref="carAssessDone" /> 
		<property name="messageListener" ref="carAssessDoneMessageListener" /> 
	</bean>	
 	<!-- 监听houseApplicationNrNone -->
 	<bean id="houseApplicationNrDoneMessageListener" 
 		class="com.qf.qcredit.bkend.listener.HouseNrDoneMessageListener"> 
 	</bean> 
 	<bean id="houseNrDoneJmsContainer" 
		class="org.springframework.jms.listener.DefaultMessageListenerContainer"> 
 		<property name="connectionFactory" ref="connectionFactory" /> 
		<property name="destination" ref="houseApplicationNrDone" /> 
		<property name="messageListener" ref="houseApplicationNrDoneMessageListener" /> 
	</bean>
	
	<!-- 车贷实地调查-发送 -->
  	<bean id="carApplicationFieldSend" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>CAR_APPLICATION_FIELDINVEST_SEND</value>
		</constructor-arg>
	</bean>
	
	<!-- 监听  车贷实地调查中-监听 -->
 	<bean id="carApplicationFieldIngMessageListener" 
 		class="com.qf.qcredit.bkend.listener.CarFieldIngMessageListener"> 
 	</bean> 
 	<bean id="carFieldIngJmsContainer" 
		class="org.springframework.jms.listener.DefaultMessageListenerContainer"> 
 		<property name="connectionFactory" ref="connectionFactory" /> 
		<property name="destination" ref="carApplicationFieldIng" /> 
		<property name="messageListener" ref="carApplicationFieldIngMessageListener" /> 
	</bean>
	<!-- 车贷实地调查中-监听 -->
	<bean id="carApplicationFieldIng" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>CAR_APPLICATION_FIELDINVEST_ING</value>
		</constructor-arg>
	</bean>
	
	<!-- 监听  车贷实地调查完成-监听 -->
 	<bean id="carApplicationFieldDoneMessageListener" 
 		class="com.qf.qcredit.bkend.listener.CarFieldDoneMessageListener"> 
 	</bean> 
 	<bean id="carFieldDoneJmsContainer" 
		class="org.springframework.jms.listener.DefaultMessageListenerContainer"> 
 		<property name="connectionFactory" ref="connectionFactory" /> 
		<property name="destination" ref="carApplicationFieldDone" /> 
		<property name="messageListener" ref="carApplicationFieldDoneMessageListener" /> 
	</bean>
	<!-- 车贷实地调查完成-监听 -->
	<bean id="carApplicationFieldDone" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>CAR_APPLICATION_FIELDINVEST_DONE</value>
		</constructor-arg>
	</bean>
	
	
	<!-- 监听  车贷评估师评估中-监听 -->
 	<bean id="carAssessIngMessageListener" 
 		class="com.qf.qcredit.bkend.listener.CarAssessIngMessageListener"> 
 	</bean> 
 	<bean id="carAssessIngJmsContainer" 
		class="org.springframework.jms.listener.DefaultMessageListenerContainer"> 
 		<property name="connectionFactory" ref="connectionFactory" /> 
		<property name="destination" ref="carAssessIng" /> 
		<property name="messageListener" ref="carAssessIngMessageListener" /> 
	</bean>
	<!--  车贷评估师评估中-监听 -->
	<bean id="carAssessIng" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>CAR_APPLICATION_ASSESS_ING</value>
		</constructor-arg>
	</bean>
	
	
	<!-- 车贷PBOC补件-发送 -->
  	<bean id="carApplicationPBOCSend" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>CAR_APPLICATION_PBOC_SEND</value>
		</constructor-arg>
	</bean>
	
	<!-- 监听  车贷PBOC补件完成-监听 -->
 	<bean id="carApplicationPBOCDoneMessageListener" 
 		class="com.qf.qcredit.bkend.listener.CarPBOCDoneMessageListener"> 
 	</bean> 
 	<bean id="carPBOCDoneJmsContainer" 
		class="org.springframework.jms.listener.DefaultMessageListenerContainer"> 
 		<property name="connectionFactory" ref="connectionFactory" /> 
		<property name="destination" ref="carApplicationPBOCDone" /> 
		<property name="messageListener" ref="carApplicationPBOCDoneMessageListener" /> 
	</bean>
	<!-- 车贷PBOC补件完成-监听 -->
	<bean id="carApplicationPBOCDone" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>CAR_APPLICATION_PBOC_DONE</value>
		</constructor-arg>
	</bean>
	
	<!-- 申请初审 -监听 -->
 	<bean id="applyTrialMessageListener"
 		class="com.qf.qcredit.bkend.listener.ApplyTrialMessageListener">
 	</bean>

 	<!-- 申请初审 -->
	<bean id="applyTrial" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>applyTrial</value>
		</constructor-arg>
	</bean>

 	<bean id="applyTrialJmsContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer">
 		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="applyTrial" />
		<property name="messageListener" ref="applyTrialMessageListener" />
	</bean>

 	<!-- 申请回退 -->
	<bean id="applyFallback" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg>
			<value>applyFallback</value>
		</constructor-arg>
	</bean>	

</beans>
