<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:task="http://www.springframework.org/schema/task" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                       http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
                       http://www.springframework.org/schema/task
						http://www.springframework.org/schema/task/spring-task-3.1.xsd ">

	<bean id="refreshCache" class="com.qf.qcredit.bkend.scheduler.service.impl.RefreshCacheImpl"></bean>
	<!-- 启动定时任务 -->
    <task:annotation-driven/>
    
   <!--  <task:scheduled-tasks>
  		<task:scheduled ref="refreshCache" method="refreshDataDicCache" cron="0 0 8 * * ?" />
 	</task:scheduled-tasks> -->
 	
   <!--  <task:scheduled-tasks>
  		<task:scheduled ref="timingAutoDistEntryImpl" method="autoDistEntry" cron="0 0/30 * * * ?" />
 	</task:scheduled-tasks> -->

	<!-- 新产品自动分单  -->
    <!--  <task:scheduled-tasks> 
  		<task:scheduled ref="automaticDispatchImpl" method="automaticDispatch" cron="0 0/2 * * * ?" /> 
 	</task:scheduled-tasks> -->

	<!-- 新产品自动分单  -->
    <!-- <task:scheduled-tasks> 
  		<task:scheduled ref="automaticDispatchImpl" method="automaticDispatch" cron="0 0/5 * * * ?" /> 
 	</task:scheduled-tasks> -->


	<bean id="logJdkvm" class="com.qf.modules.utils.LogJdkvm">
   		<property name="maxMem" value="6000"/>  
	</bean> 
	<!-- <task:scheduled-tasks>
  		<task:scheduled ref="logJdkvm" method="logJdkvm" cron="0 0/1 * * * ?" />
 	</task:scheduled-tasks> -->
 	
</beans>